flask
requests
beautifulsoup4
openai>=1.40.0
playwright          # si tu en as besoin en prod ; sinon retire
extruct
w3lib
lxml
python-dotenv
google-cloud-vision
requests
html-text
gunicorn
flask-compress


